@using SalesDepartment.Application.UseCases.Contracts.Commands.UpdateContract;
@using SalesDepartment.Application.UseCases.Contracts.Response;
@using SalesDepartment.Domain.Entities;
@using SalesDepartment.Application.UseCases.Customers.Response;
@using SalesDepartment.Application.UseCases.Founders.Response;
@using SalesDepartment.Application.UseCases.Homes.Response;
@model ContractResponse

@{
    ViewData["Title"] = "UpdateContract";
    Layout = "_Layout";


    CustomerResponse[] Customers = ViewData["Customers"] as CustomerResponse[];
    HomeResponse[] Homes = ViewData["Homes"] as HomeResponse[];
    FounderResponse[] Founders = ViewData["Founders"] as FounderResponse[];
}

<h3 class="text-center">Изменить информацию о контракте</h3>
<hr />

<form asp-controller="Contract" asp-action="UpdateContract" enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6" style="overflow-y:scroll; width:50%; height:70vh">
                <div class="custom-input">

                    <div class="form-group mt-3">
                        <label asp-for="ContractNumber">Контракт №:</label>
                        <input asp-for="ContractNumber" class="form-control" required value="@Model.ContractNumber" />
                        <span asp-validation-for="ContractNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <label asp-for="ContractStartDate">Дата контракта:</label>
                        <input asp-for="ContractStartDate" type="date" class="form-control" required value="@Model.ContractStartDate.ToString("yyyy-MM-dd")" />
                        <span asp-validation-for="ContractStartDate" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <label asp-for="TotalAmountOfContract" class="form-label">Общая сумма контракта:</label>
                        <input asp-for="TotalAmountOfContract" type="text" class="form-control" value="@Model.TotalAmountOfContract">
                        <span asp-validation-for="TotalAmountOfContract" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <label asp-for="PaymentStartDate">Дата начала платежа:</label>
                        <input asp-for="PaymentStartDate" type="date" class="form-control" required value="@Model.PaymentStartDate.ToString("yyyy-MM-dd")" />
                        <span asp-validation-for="PaymentStartDate" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <label asp-for="NumberOfMonths">Количество месяцев:</label>
                        <input asp-for="NumberOfMonths" class="form-control" required value="@Model.NumberOfMonths" />
                        <span asp-validation-for="NumberOfMonths" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <label asp-for="InAdvancePaymentOfContract">Сумма предоплаты:</label>
                        <input asp-for="InAdvancePaymentOfContract" class="form-control" required value="@Model.InAdvancePaymentOfContract" />
                        <span asp-validation-for="InAdvancePaymentOfContract" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <label asp-for="HomeId">Квартира:</label>
                        <select class="form-control" asp-for="HomeId" asp-items="@(new SelectList(Homes, "Id", "ApartmentNumber"))" required>
                            <option value="">Выбрать Квартира</option>
                        </select>
                        <span asp-validation-for="HomeId" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <label asp-for="CustomerId">Клиент:</label>
                        <select class="form-control" asp-for="CustomerId" asp-items="@(new SelectList(Customers, "Id", "FirstName"))">
                            <option value="">Выбрать Клиент</option>
                        </select>
                        <span asp-validation-for="CustomerId" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <label asp-for="FounderId">Основатель:</label>
                        <select class="form-control" asp-for="FounderId" asp-items="@(new SelectList(Founders, "Id", "FirstName"))" required>
                            <option value="">Выбрать Основатель</option>
                        </select>
                        <span asp-validation-for="FounderId" class="text-danger"></span>
                    </div>

                    <div class="form-group button-group mt-3">
                        <button type="submit" class="btn btn-success">Сохранять</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
