@using SalesDepartment.Application.UseCases.Contracts.Response;

@{
    Layout = "_Layout";
}

@model ContractResponse

<h3 class="text-center">Информация о контракте</h3>

<div style="display: flex; justify-content: space-between;">
    <div>
        <a href="@Url.Action("UpdateContract", new { id = @Model.Id })" class="btn btn-secondary">
            <i class="fas fa-pen-to-square"></i>Изменить
        </a>
        <a href="@Url.Action("DeleteContract", new { id = @Model.Id })" class="btn btn-danger">
            <i class="fas fa-trash-can"></i>Удалить
        </a>
    </div>
    <div>
        <a href="@Url.Action("ContractInDocx", "Contract", new { id = @Model.Id })" class="btn btn-outline-info">
            <i class="fa-regular fa-file-word"></i> Договор в Docx
        </a>
        <a href="@Url.Action("GraphicInDocx", "Report", new { id = @Model.Id })" class="btn btn-outline-info">
            <i class="fa-regular fa-file-word"></i> Графика платежей в Docx
        </a>
    </div>
</div>

<hr />
<div class="container" style="height: 100vh;">
    <div class="row" style="display: flex; justify-content: center;">
        <div class="col-lg-12" style="width: 100%;">
            <div class="custom-cards">
                <div class="table-container" style="overflow-y: scroll; height: 80vh; width: 100%;">
                    <div class="col-lg-6">
                        <div class="custom-cards">
                            <h4 class="text-center">Contract Information</h4>
                            <table class="table table-bordered">
                                <tr>
                                    <th>Contract Number</th>
                                    <td>@Model.ContractNumber</td>
                                </tr>
                                <tr>
                                    <th>Contract Start Date</th>
                                    <td>@Model.ContractStartDate</td>
                                </tr>
                                <tr>
                                    <th>Total Amount Of Contract</th>
                                    <td>@Model.TotalAmountOfContract</td>
                                </tr>
                                <tr>
                                    <th>Advance Payment</th>
                                    <td>@Model.InAdvancePaymentOfContract</td>
                                </tr>
                                <tr>
                                    <th>Monthly Payment</th>
                                    <td>@Model.AmountOfMonthlyPayment</td>
                                </tr>
                                <tr>
                                    <th>Number Of Months</th>
                                    <td>@Model.NumberOfMonths</td>
                                </tr>
                                <tr>
                                    <th>Payment Start Date</th>
                                    <td>@Model.PaymentStartDate</td>
                                </tr>
                                <tr>
                                    <th>Founder Name</th>
                                    <td>@Model.Founder.FirstName @Model.Founder.LastName</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="custom-cards">
                            <h4 class="text-center">Customer Information</h4>
                            <table class="table table-bordered">
                                <tr>
                                    <th>First Name</th>
                                    <td>@Model.Customer.FirstName</td>
                                </tr>
                                <tr>
                                    <th>Last Name</th>
                                    <td>@Model.Customer.LastName</td>
                                </tr>
                                <tr>
                                    <th>Middle Name</th>
                                    <td>@Model.Customer.MiddleName</td>
                                </tr>
                                <tr>
                                    <th>Passport</th>
                                    <td>@Model.Customer.Passport</td>
                                </tr>
                                <tr>
                                    <th>Passport Issued By</th>
                                    <td>@Model.Customer.PassportIssuedBy</td>
                                </tr>
                                <tr>
                                    <th>Address</th>
                                    <td>@Model.Customer.Address</td>
                                </tr>
                                <tr>
                                    <th>Phone Number One</th>
                                    <td>@Model.Customer.PhoneNumberOne</td>
                                </tr>
                                <tr>
                                    <th>Phone Number Two</th>
                                    <td>@Model.Customer.PhoneNumberTwo</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="custom-cards">
                            <h4 class="text-center">Apartment Information</h4>
                            <table class="table table-bordered">
                                <tr>
                                    <th>Block</th>
                                    <td>@Model.Home.Block</td>
                                </tr>
                                <tr>
                                    <th>Entrance</th>
                                    <td>@Model.Home.Entrance</td>
                                </tr>
                                <tr>
                                    <th>Floor</th>
                                    <td>@Model.Home.Floor</td>
                                </tr>
                                <tr>
                                    <th>Apartment Number</th>
                                    <td>@Model.Home.ApartmentNumber</td>
                                </tr>
                                <tr>
                                    <th>Number Of Rooms</th>
                                    <td>@Model.Home.NumberOfRooms</td>
                                </tr>
                                <tr>
                                    <th>Area</th>
                                    <td>@Model.Home.Area</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <table id="Payment History" class="table">
                        <thead>
                            <tr>
                                <th style="width: 25%;">PaymentNumber</th>
                                <th style="width: 25%;">PaymentDate</th>
                                <th style="width: 25%;">Amount</th>
                                <th style="width: 25%;">AmountsInWords</th>
                                <th style="width: 25%;">PaymentType</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var payment in Model.Payments)
                            {
                                <tr>
                                    <td>@payment.PaymentNumber</td>
                                    <td>@payment.PaymentDate</td>
                                    <td>@payment.Amount</td>
                                    <td>@payment.PaymentType.Name</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <table>
                        <thead>
                            <tr>
                                <th>Number</th>
                                <th>Scheduled Dates</th>
                                <th>Scheduled Payment</th>
                                <th>Monthly Payment</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.ScheduledInfo != null)
                            {
                                int rowNumber = 1;
                                foreach (var scheduled in Model.ScheduledInfo)
                                {
                                    <tr>
                                        <td>@rowNumber</td>
                                        <td>@scheduled.Key.ToString("yyyy-MM-dd")</td> <!-- Display scheduled date as a formatted string -->
                                        <td>@scheduled.Value.ToString("C")</td> <!-- Display scheduled payment -->
                                        <td>@Model.AmountOfMonthlyPayment.ToString("C")</td>
                                        @if (Model.ActualInfo != null && Model.ActualInfo.ContainsKey(scheduled.Key))
                                        {
                                            var actualPayment = Model.ActualInfo[scheduled.Key];
                                            <td>@scheduled.Key.ToString("yyyy-MM-dd")</td> <!-- Display payed date as a formatted string -->
                                            <td>@actualPayment.ToString("C")</td> <!-- Display payment amount -->
                                        }
                                        else
                                        {
                                            <td></td>
                                            <td></td>
                                        }
                                    </tr>
                                    rowNumber++;
                                }
                            }
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>